<template>
  <div>
    <h1>ИЗБРАННЫЕ</h1>
    <div class="sort" v-on:click="sort()"><button>{{gender}}</button></div>
    <div class="favorites">
      <hero-card 
        class="hero_card"
        v-for="pers in list"
        :key="pers.name"
        :id="pers.id"
        :name="pers.name"
        :gender="pers.gender"
        :home="pers.home"
      />
    </div>
  </div>
</template>

<script>
import HeroCard from '@/components/HeroCard'

export default {
  components: {
    HeroCard
  },
  data() {
    return {
      list: [],
      gender: 'sort'
    }
  },
  created() {
    let ls = localStorage.getItem('favorites')
    if(!ls) {
      return
    }
    this.list = JSON.parse(ls)
  },
  methods: {
    sort() {
      let male = []
      let female = []
      let na = []
      for(let i=0; i<this.list.length; i++) {
        if(this.list[i].gender === 'male') {
          male.push(this.list[i])
        } else if(this.list[i].gender === 'female') {
          female.push(this.list[i])
        } else {
          na.push(this.list[i])
        }
      }
      if(this.gender === 'female' || this.gender === 'sort') {
        this.list = male.concat(female, na)
        this.gender = 'male'
      }
      else {
        this.list = female.concat(male, na)
        this.gender = 'female'
      }
    }
  }
}
</script>

<style scoped>
.favorites {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero_card {
  margin: 8px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.sort {
  margin: 16px;
}

button {
  width: 100px;
  height: 36px;
  background-color: #090;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 6px;
  outline: none;
}

button:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

button:active {
  color: #090;
  background-color: #fff;
}
</style>

