<template>
  <div>
    <h1>ГЛАВНАЯ СТРАНИЦА</h1>
    <div class="home">
      <hero-card 
        class="hero_card"
        v-for="pers in info.results"
        :key="pers.name"
        :id="pers.url.slice(28, pers.url.length - 1)"
        :name="pers.name"
        :gender="pers.gender"
        :home="pers.homeworld"
        ficon
      />
    </div>
    <div class="pages">
      <span 
        class="material-icons arrow" 
        :class="{disabled: prev}"
        v-on:click="changePage(page-1)">west
      </span>
      <div 
        class="page_btns"
        :class="{active: pg.active}" 
        v-for="(pg, ind) in pages" 
        :key="ind"
        v-on:click="changePage(ind+1)">{{ind+1}}</div>
        
      <span 
        class="material-icons arrow"
        :class="{disabled: next}" 
        v-on:click="changePage(page+1)">east
      </span>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import HeroCard from '@/components/HeroCard'

export default {
  name: 'Home',
  components: {
    HeroCard
  },
  data() {
    return {
      info: {
          results: []
      },
      page: 1,
      pages: []
    }
  },
  created() {
    axios
      .get(`https://swapi.dev/api/people/?page=${this.page}`)
      .then(response => (this.info = response.data))
      .then(() => {
        this.pages = new Array()
        for(let i=0; i<Math.ceil(this.info.count / 10); i++) {
          if(this.page === (i+1)) {
            this.pages.push({active: true})
          } else {
            this.pages.push({active: false})
          }
        }
      })
  },
  methods: {
    changePage(ind) {
      if(ind < 1 || ind > this.pages.length) {
        return
      }
      if(ind !== this.page) {
        axios
        .get(`https://swapi.dev/api/people/?page=${ind}`)
        .then(response => (this.info = response.data))
        .then(() => {
          this.pages = new Array()
          this.page = ind
          for(let i=0; i<Math.ceil(this.info.count / 10); i++) {
            if(this.page === (i+1)) {
              this.pages.push({active: true})
            } else {
              this.pages.push({active: false})
            }
          }
          this.page = ind
        })
      }
    },
  },
  computed: {
    prev: {
      get() {
        return this.info.previous === null
      }
    },
    next: {
      get() {
        return this.info.next === null
      }
    }
  }
}
</script>

<style scoped>
.home {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.hero_card {
  margin: 8px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.3);
}

.pages {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; 
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

.page_btns {
  border: 1px solid #2c3e50;
  border-radius: 6px;
  width: 24px;
  margin: 0 2px;
  cursor: pointer;
  padding-top: 3px;
}

.arrow {
  cursor: pointer;
}

.active {
  background-color: #888;
  cursor: default;
}

.disabled {
  color: #999;
  cursor: default;
}

</style>
