<template>
    <div class="hero_card">
        <img :src="image" alt="" width="350">
        <div class="card_body">
            <div>{{name}}</div>
        </div>
        <div class="card_body">
            <div class="card_name">Планета: {{homeworld}}</div>
            <div
                v-if="ficon" 
                class="card_icon" 
                v-on:click="changeFavorite()"><span class="material-icons">
                {{favorite ? 'favorite' : 'favorite_border'}}
            </span></div>
        </div>
    </div>
</template>

<script>
import axios from 'axios'

export default {
    props: {
        id: {
            type: String,
            default: ''
        },
        name: {
            type: String,
            default: ''
        },
        gender: {
            type: String,
            default: ''
        },
        home: {
            type: String,
            default: ''
        },
        ficon: {
            type: Boolean,
            default: false
        }        
    },
    data() {
        return {
            characterId: 0,
            image: `https://starwars-visualguide.com/assets/img/characters/${this.id}.jpg`,
            favorite: false,
            homeworld: ''
        }
    },
    created() {
        let ls = localStorage.getItem('favorites')
        if(ls) {
            ls = JSON.parse(ls)
            for(let i=0; i<ls.length; i++) {
                if(ls[i].id === this.id) {
                    this.favorite = true
                    break
                }
            }
        }
        axios
        .get(this.home)
        .then(response => {
            this.homeworld = response.data.name
        })
    },
    methods: {
        changeFavorite() {
            this.favorite = !this.favorite
            let ls = localStorage.getItem('favorites')
            if(this.favorite) {
                this.addFavorite(ls)
            }
            else {
                this.removeFavorite(ls)
            }
        },
        removeFavorite(ls) {
            if(!ls) {
                return
            }
            ls = JSON.parse(ls)
            for(let i=0; i<ls.length; i++) {
                if(ls[i].id === this.id) {
                    ls.splice(i, 1)
                    localStorage.setItem('favorites', JSON.stringify(ls))
                    return
                }
            }
        },
        addFavorite(ls) {
            let pls = []
            if(ls) {
                pls = JSON.parse(ls)
            }
            pls.push({id: this.id, name: this.name, gender: this.gender, home: this.home})
            localStorage.setItem('favorites', JSON.stringify(pls))
        }
    }
}
</script>

<style scoped>
.hero_card {
    border-radius: 6px;
    overflow: hidden;
    background-color: #aaffaa;
}

.card_body {
    font-weight: bold;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.card_icon {
    cursor: pointer;
}
</style>
